.wrapper {
  table {
    overflow-x: scroll;
  }

  td {
    button {
      &:nth-child(2) {
        margin: 0 8px;
      }
    }
  }
}

@media (max-width: 1110px) {
  .wrapper {
    td {
      &:nth-child(5) {
        text-align: center;

        button {
          width: 100%;

          &:nth-child(2) {
            margin: 8px 0;
          }
        }
      }
    }
  }
}