.wrapper {
  .row1 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;

    div {
      button {
        &:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
  }

  .row2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    margin-bottom: 30px;
  }

  .row3 {
    margin-bottom: 30px;
  }

  .row4 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
  }
}